#tablas{
	padding: 20px;
	margin-right: 20px;
	margin-left: 20px;
	

background-color: #212529;
}

footer{
	/*Tal vez un color gradiente https://cssgradient.io/*/
	padding: 20px;
	background-color: #1b2932;
}


body{
		text-align:center;
	/*color que tiene google*/
	background-color: #202124;
	color: darkgray;

	/*background-color: #343838;*/
		padding: 20px;
}





/*estilos de las tablas*/
table {
	border-collapse: collapse;
	border: 2px gray solid;
	font: 15px sans-serif;
	text-align:center;

	display: table;
	margin-right: auto;
	margin-left: auto;
}

td {
	border: 2px gray solid;
	padding: 5px;
}

/*para striped rows*/
/*
tr:nth-child(even) {background-color: #2c3034;}
tr:nth-child(odd) {background-color: #212529;}
*/
/*pasar mouse por encima y que resalte una fila*/
tr:hover {background-color: #543245;}
/*pero que no resalte la primera (pinta del mismo color que el de las columnas pares)*/
tr:first-child:hover {background-color: #212529;}


/*azul #364F6B*/


/*
td stands for table data.
tr stands for table row.
th stands for table header*/
